<div>
  <h5>Instructions</h5>
  <ul>
    <li>Enter number of rows and columns in respective text boxes and press <span class="text-primary">CREATE NEW BOARD</span> to generate an empty Game of Life Board.</li>
    <li>Click on any number of cells in the generated board to create the initial state.</li>
    <li>Click on <span class="text-primary">NEXT</span> to get the next generation from current state of life.</li>
    <li>Click <span class="text-primary">Auto Advance</span> to toggle automatic generations of newer generations.</li>
    <li>Click on <span class="text-primary">RESET</span> to go back and create a fresh board.</li>
    <li class="text-danger">DO NOT Refresh the page or use Back button on the browser.</li> 
  </ul>
  
  <h6>To see the Jasmine Runner and the test cases, <a target="_blank" href="../../AngularJS/test/test-runner.html">Click Here</a>.</h6>
</div>